[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/batan/Desktop/Using Wikibooks_What Is Wikibooks - Wikibooks, open books for an open world.desktop]
row=1
col=1

[/home/batan/Desktop/kall.desktop]
row=3
col=1

[/home/batan/Desktop/SH]
row=0
col=1

[/home/batan/Desktop/archive_crawler]
row=2
col=1

[9036fda5-94a3-485b-838d-98306a402a10]
row=6
col=1

[71AA-F76F]
row=6
col=0

[EA72-A6C3]
row=3
col=0

[0fc73055-12af-44fb-84c7-206028ed9349]
row=5
col=0

[0fb6b0cb-a371-480e-87dd-9e93d7e3d32d]
row=4
col=1

[2024-01-21-20-54-50-00]
row=5
col=1

[BD9D-F4E6]
row=4
col=0

[3cc79ea1-aa17-4681-9d3f-f9719b05d865]
row=8
col=0

[eb1f3fce-cd60-402c-a712-a63b197bf636]
row=7
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/batan]
row=1
col=0

