[Desktop Entry]
Version=1.0
Type=Application
Name=gutenberg
Comment=
Exec=sudo -u batan bash /home/batan/check/edge.sh
Icon=/home/batan/100/icons/black_128x128.png
Path=
Terminal=false
StartupNotify=false
